<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- title-icon -->
    <link rel="icon" href="images/favicon.ico">

    <!-- bootstrap-cdn-link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Josefin+Sans&family=Noto+Serif+Display:wght@100&display=swap" rel="stylesheet">
     
    <!-- my-css -->
    <link rel="stylesheet" href="profile.css">

</head>
<body>
    
    <section class="header">
        <!-- just-navbar-things -->
        <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Cafeteria</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/#menu">Menu</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/menu#chef-special">Chef's Special</a></li>
                        <li><a class="dropdown-item" href="/menu#beverages">Beverages</a></li>
                        <li><a class="dropdown-item" href="/menu#ice-cream">Ice Cream</a></li>
                        <li><a class="dropdown-item" href="/menu#pizza">Pizza</a></li>
                        <li><a class="dropdown-item" href="/menu#snacks">Snacks</a></li>
                      </ul>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="/#contact">Feedback & Contact</a>
                    </li>

                  </ul>
              </div>
              
            </div>
          </nav>
    </section>

    <section class="description">
        <div class="customer-des">
            <img src="images2/pulkit.png" class="customer-image">

            <div class="customer-info">
              <h1 class="customer-name">Pulkit Mangla</h1>
              <div class="customer-location">
                <img src="images2/location-pin.png" class="location-pin">
                <h3 style="display: inline-block; font-size: 1.5vw; color: rgb(39, 39, 39);">Faridabad, India</h3>
              </div>
            </div>

           <div class="ratings">
            <div class="customer-work">
              <h1 class="customer-work-numbers">40</h1>
              <h3 class="customer-work-type">Reviews</h3>
            </div>

            
            <div class="customer-work" style="width: 0.01vw; background-color: gray; height: 3vw; margin:0 1vw 0;">
            </div>

            
            <div class="customer-work">
              <h1 class="customer-work-numbers">12</h1>
              <h3 class="customer-work-type">Orders</h3>
            </div>

            <div class="customer-work" style="width: 0.01vw; background-color: gray; height: 3vw; margin:0 1vw 0;">
            </div>

            
            <div class="customer-work">
              <h1 class="customer-work-numbers">45</h1>
              <h3 class="customer-work-type">Ratings</h3>
            </div>

          </div>
      
        </div>
    </section>

    <!-- font-awesome -->
        <script src="https://kit.fontawesome.com/94eedba8e3.js" crossorigin="anonymous"></script>

         <!-- bootstrap-js  -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- my-javascript -->
        <script src="index.js" charset="utf-8"></script>
</body>
</html>